$__c1: #FFF;
$__c2: #FFF;
$__c3: #FFF;
$__c4: #FFF;
$__c5: rgb(121,190,251);
$__c6: rgb(98,152,248);
$__c7: rgb(50,53,61); // grey-blue
$__c8: rgb(45,77,145); // blue
$__c9: rgb(149,214,63); // lime green accent
