$height: rem-calc(37px);

.filter {
  &__button {
    position: relative;
    height: $height;
    text-align: right;
    z-index: 14;
    margin-right: rem-calc(4px);
    .btn-sort {
      path, rect {
        fill: $__c7;
      }
    }
  }

  &__list {
    position: absolute;
    top: 0;
    z-index: 12;
    display: none;
    list-style: none;
    margin-left: -1rem;;
    margin-top: $height;
    margin-top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.95);
    &.active {
      display: block;
    }
  }
  &__item {
    box-sizing: border-box;
    background-color: none;
    color: $__c9;
    margin: 0rem;
    border-radius: .25rem;
    padding: 0 2rem;
    text-align: center;
    display: block;
    &:hover {
      background-color: $__c9;
      .filter__link {
        color: white;
      }
    }
  }
  &__link {
    display: block;
    padding: 1.5rem .75rem;
    font-size: 1.25rem;
    border-bottom: 1px solid $__c9;
    text-transform: uppercase;
    color: $__c7;
    font-family: "SF Text Medium", "Helvetica Neue", Helvetica, sans-serif;
  }
}

.btn-sort {
  cursor: pointer;
}

.select {
  &__list {
    display: block;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    outline: none;
    border: 2px solid black;
    border-radius: 1.5rem;
    height: 3rem;
    background-color: black;
    color: white;
    &:active {
      background-color: black;
      color: white;
    }
  }
  &__item {
    background-color: #fcfcfc;
    color: $__c9;
    // padding: 1rem;
    margin: .5rem;
    border-radius: .25rem;
    text-align: center;
    display: block;
  }

}
