$height: rem-calc(27px);

.filter {
  &__button {
    position: relative;
    height: $height;
    text-align: right;
    z-index: 14;
    margin-top: $height * 1.5;
    .btn-sort {
      height: rem-calc(27px);
      transition: all 175ms ease;
      path {
        transition: all 175ms ease;
        fill: $__c5; }
      rect {
        transition: all 175ms ease;
        stroke: $__c5;
      }
      &:hover {
        transition: all 175ms ease;
        rect {
          transition: all 175ms ease;
          fill: $__c5; stroke: 3 scale-color($__c5, $lightness: -25%); }
        path {
          transition: all 175ms ease;
          fill: white;
        }
      }
    }
  }

  &__list {
    position: absolute;
    top: 0;
    z-index: 12;
    display: none;
    list-style: none;
    margin-left: -1rem;;
    margin-top: $height + 3rem;
    margin-top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.97);
    &.active { display: block; }
  }
  &__item {
    box-sizing: border-box;
    background-color: none;
    color: $__c9;
    margin: 0rem;
    border-radius: .25rem;
    padding: 0 2rem;
    text-align: center;
    display: block;
    &:hover {
      // background-color: $__c9;
      .filter__link { color: black; }
    }
  }
  &__link {
    text-align: right;
    display: block;
    padding: 1.5rem .75rem;
    font-size: 1.25rem;
    border-bottom: 1px solid $__c6;
    text-transform: uppercase;
    color: $__c7;
    font-family: "SF Text Medium", "Helvetica Neue", Helvetica, sans-serif;
  }
}

.btn-sort { cursor: pointer; }

.select {
  &__list {
    display: block;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    outline: none;
    border: 2px solid black;
    border-radius: 1.5rem;
    height: 3rem;
    background-color: black;
    color: white;
    &:active {
      background-color: black;
      color: white;
    }
  }
  &__item {
    background-color: #fcfcfc;
    color: $__c9;
    margin: .5rem;
    border-radius: .25rem;
    text-align: center;
    display: block;
  }
}
