$nav-height: rem-calc(54px);
$nav-hide: rem-calc(-54px);

.nav {
  position: relative;
  height: rem-calc(54px);
  z-index: 100;

  &__header {
    position: fixed;
    height: $nav-height;
    top: 0;
    right: 0;
    width: 100%;
    background: rgba(255,255,255,.97);
    text-align: right;
    border-bottom: 1px solid #f6f6f6;
    transition: all 200ms ease;
    &.minimalist-mode:not(:hover) {
      transition: all 200ms ease;
      background: rgba(255,255,255,0);
      border-bottom: 1px solid rgba(255,255,255,0);
      .nav__title {
        opacity: 0;
        transition: opacity 300ms ease;
      }
      .nav__primary {
        opacity: 0;
        transition: opacity 300ms ease;
      }
    }
  }
  &__icons {
    svg {
      cursor: pointer;
      position: fixed;
      display: block;
      top: rem-calc(13px);
      right: rem-calc(14px);
      z-index: 100;
      height: rem-calc(27px);
      &.btn-menu {
        rect { stroke: $__c6; }
        path { fill: $__c6; }
      }
      &.btn-close {
        display: none;
        path, rect { fill: $__c6; }
      }
    }
  }
  &__title {
    padding: .5rem 0 .5rem 1rem;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    a h2 {
      font-family: "SF Display Medium", sans-serif;
      font-size: 1.5rem;
      transition: all 300ms ease;
      opacity: 1;
      &:hover {
        color: $__c9;
        transition: all 300ms ease;
      }
    }
  }
  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.86);
    background: scale-color($__c9, $alpha: -4%);
    overflow: auto;
    z-index: 90;
  }
  &__wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }
  &__primary {
    max-width: 1200px;
    height: $nav-height;
    overflow: hidden;
    margin: 0 auto;
    transition: opacity 300ms ease;
    .menu-main-menu-container {
      ul.menu {
        margin: 0;
        width: auto;
        display: inline-block;
        position: absolute;
        right: 5.5rem; //
        list-style-type: none;
        li.menu-item {
          position: relative;
          display: inline-block;
          height: $nav-height;
          overflow: visible;
          a {
            padding: 1.1rem .5rem .9rem .5rem;
            display: block;
            font-family: "SF Text Medium", "Helvetica Neue", Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: .75rem;
            color: $__c7;
            transition: color 150ms ease;
            &:hover {
              color: $__c9;
              transition: color 150ms ease;
            }
          }
          &:hover {
            ul.sub-menu {
              opacity: 1;
              top: 3rem;
              transition: opacity 400ms ease;
            }
          }
          ul.sub-menu {
            position: absolute;
            display: inline-block;
            opacity: 0;
            left: 0;
            margin: 0;
            width: 8rem;
            top: -8rem;
            transition: opacity 400ms ease;
            height: auto;
            text-align: left;
            background: white;
            border: 1px solid #f5f5f5;
            border: 1px solid $__c9;
            li.menu-item {
              display: block;
              height: auto;
              a {
                color: scale-color($__c7, $lightness: +50%);
                padding: .125rem .5rem .125rem .5rem;
                transition: color 150ms ease;
                &:hover {
                  color: $__c9;
                  transition: color 150ms ease;
                }
              }
              &:first-of-type {
                a { padding-top: .5rem; }
              }
              &:last-of-type {
                a { padding-bottom: .5rem; }
              }
            }
          }
        }
      }
    }
  }
  &__secondary {
    ul.menu {
      margin: 0;
      width: auto;
      text-align: left;
      list-style-type: none;
      &:first-child {
        margin-top: 3rem;
      }
      li.menu-item {
        a {
          padding: 1rem .5rem 0rem 0rem;
          display: block;
          font-family: "SF Display Medium", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 3rem;
          color: $__c7;
          transition: color 150ms ease;
          &:hover { color: white; transition: color 150ms ease; }
        }
        ul.sub-menu {
          list-style-type: none;
          margin-left: 0;
          li.menu-item {
            a {
              padding: 0 0 0 .5rem;
              margin: 0 0 .5rem 0;
              font-size: 1.25rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .nav__primary {
    display: none;
  }
}
